<launch>
  <!-- Natural completion test in a small ROI. Does NOT force completion or raise gain threshold. -->
  <include file="$(find autonomous_flight)/launch/dynamic_exploration.launch" />
  <rosparam param="/DEP/global_region_min">[-3.0, -3.0, 0.7]</rosparam>
  <rosparam param="/DEP/global_region_max">[3.0, 3.0, 1.2]</rosparam>
</launch>
